body {
  background-color:white;
  font-family:"raleway";
  font-weight:300;
}

a {
  text-decoration:none;
  font-weight:bold;
  color:#f30000;
}

img {
  padding-top:15px;
}

.container {
  width:100%;
  border:white 2px solid;
  margin:50px auto;
  overflow:hidden;
}

.container div {
  border:white 1px solid;
}

.blog {
  float:left;
  position:relative;
}

.col-1 {
  float:left;
  width:100%;
  box-sizing:border-box;
}

.col-2 {
  float:left;
  width:16.666666666%;
  background-color:black;
  border:white 1px solid;
  color:white;
  text-align:center;
  padding-top:10px;
  padding-bottom:10px;
  box-sizing:border-box;
}

.col-4 {
  float:left;
  width:33.33333333%;
  box-sizing:border-box;
}

.col-8 {
  float:left;
  width:66.666666666%;
  box-sizing:border-box;
}

.date {
  color:#d1d1d1;
  margin-bottom:0;
  font-size:30px;
  padding-top:10px;
  padding-bottom:10px;
}

.blog-title {
  color:black;
  font-weight:bold;
  font-size:30px;
}

.blog-body:first-of-type:first-letter {
  color:#444444;
  float:left;
  font-size:75px;
  line-height:1;
  margin-right:10px;
}

.right-align {
  text-align:right;
}

.divider {
  width:100%;
  border-top:#d1d1d1 1px solid;
  margin-top:20px;
  padding-bottom:20px;
  padding-right:10px;
  position:absolute;
}

.sidebar-title {
  letter-spacing:-1px;
  color:#000000;
  font-weight:bold;
  font-size:20px;
}

.sidebar-body {
  color:#444444;
  float:left;
  font-size:16px;
}

#title {
    color:#f30000;
    font-size:45px;
    padding-right:25px;
}

#title-sub {
    color:#444444;
    font-size:25px;
}

#nav-top {
  background-color:#000000;
  font-size:18px;
  padding:0;
  margin:0;
  overflow:hidden;
  /*(If something is bigger than the container, if you add "overflow:hidden" it'll remain within the container size)*/
}

#nav-top li {
  text-align:center;
  width:16%;
  display:block;
  float:left;
  border-right:#ffffff 1px solid;
}

#nav-top li:last-child {
  border-right:none;
}

#nav-top a {
  display:inline-block;
  color:#ffffff;
  text-decoration:none;
  text-align:center;
  padding:15px;
}

#nav-top a:hover {
  color:#f30000;
}

#footer-nav {
  text-align:left;
  padding:0;
}

#footer-nav li {
  display:inline;
  list-style:none;
  border-right:#d1d1d1 1.5px solid;
  padding-left:3px;
  padding-right:6px;
}

#footer-nav li:last-child {
  border:none;
}

#sidebar {
  float:right;
  position:absolute;
  top:200px;
  right:0;
  padding:10px;
}

#side-nav {
  font-size:16px;
}

#side-nav a:hover {
  color:#444444;
}
